.nav-link {
    color: $body-color-dark;

    &:hover, &:focus {
        color: $body-color-dark;
        background: rgba($white, .05);
    }
}

.nav-text {
    display: block;
    padding: var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);
    @include font-size(var(--#{$prefix}nav-link-font-size));
    font-weight: var(--#{$prefix}nav-link-font-weight);
    color: $body-color-dark;
    text-decoration: if($link-decoration == none, null, none);
    background: none;
    border: 0;
}
